doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    title Title
    meta(name='description', content='')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(property='og:image', content='path/to/image.jpg')
    link(rel='shortcut icon', href='img/favicon/favicon.ico', type='image/x-icon')
    link(rel='apple-touch-icon', href='img/favicon/apple-touch-icon.png')
    link(rel='apple-touch-icon', sizes='72x72', href='img/favicon/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='114x114', href='img/favicon/apple-touch-icon-114x114.png')
    // Chrome, Firefox OS and Opera
    meta(name='theme-color', content='#000')
    // Windows Phone
    meta(name='msapplication-navbutton-color', content='#000')
    // iOS Safari
    meta(name='apple-mobile-web-app-status-bar-style', content='#000')
    style.
      body { opacity: 0; overflow-x: hidden; } html { background-color: #fff; }
  body
    .header
      .container
        .row
            .col-xs-5
                ul.header__header-links
                    li
                        a(href="#") Сценарии
                    li
                        a(href="#") Фото
                    li
                        a(href="#") Видео
                    li
                        a(href="#") Отзывы
                    li
                        a(href="#") Новости
                    li
                        a(href="#") Аренный лазертаг
            .col-xs-4

            .col-xs-3
                ul.header__header-socials
                    li
                        p Мы в соцсетях
                    li
                        a(href="#")
                            img(src="", alt="")
                    li
                        a(href="#")
                            img(src="", alt="")
        .row
            .col-xs-12
                .header__header-address
                    img.header-address(src="", alt="")
                    p.header-address--descr Основная площадка
                    p.header-address--addr Нагибина 40
                .header__header-navigation
                    ul.header-navigation
                        li
                            a(href="#") О нас
                        li
                            a(href="#") Арсенал
                        li.header-logo
                            img(src="", alt="")
                        li
                            a(href="#") Площадки
                        li
                            a(href="#") Цены
    .main-section
        .container
            .row
                .col-xs-12
                    .main-section__wrap
                        p Клуб внеаренного лазертаго "заряд" <br> в ростове на дону
                        p 
                            a(href="#") Выберете площадку 
                            | и забронируйте место себе или своей команде
                        img(src="", alt="")
                        p Стоимость 2 часовой игры - #[span 500 р] с человека
                        p Именинник играет БЕСПЛАТНО!
                        a.btn(href="#") Забронировать
                        img.main-section__left-man(src="", alt="")
                        img.main-section__right-man(src="", alt="")

    link(rel='stylesheet', href='css/main.min.css')
    script(src='js/scripts.min.js')
